/* 
   ------------------
    Default settings
   ------------------
*/

*, *::after, *::before {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    background: #000;
}

.container{
    width: 525px;
    height: 525px;
    margin: 70px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tile{
    width: 25px;
    height: 25px;
}

#score{
    color: white;
}

/* 
   ------------------
    Objects settings
   ------------------
*/

.wall{
    background: rgb(47, 100, 121);
    border: 1px solid paleturquoise;
}

.emptyness{
    background: transparent;
    border: none;
}

.coin{
    background: lightgoldenrodyellow;
    border-radius: 50%;
    transform: scale(0.3); 
}

.energizer{
    background: lightgoldenrodyellow;
    border-radius: 50%;
    transform: scale(0.5); 
}

.pacman{
    background: url(img/pacman-right.png) center center no-repeat;
    background-size: contain;
    transform: scale(0.8);
}

.pacman.right{
    background-image: url(img/pacman-right.png);
}

.pacman.left{
    background-image: url(img/pacman-left.png);
}

.pacman.up{
    background-image: url(img/pacman-up.png);
}

.pacman.down{
    background-image: url(img/pacman-down.png);
}

.blinky{
    background-image: url(img/blinky.png);
    background-size: contain;
}

